html, body {
  height: 100%;
}

#container {
    min-height: 100%;
    padding-bottom: 50px;
}

#footer {
  position: relative;
  float: right;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding: 20px;
  padding-right: 50px;
}

/* styling for added steps list*/

#added-steps-list .step:hover  {
  background-color: #f5f5f5;
}

/* Support for button in table */
.btn.btn-table {
  padding: 1px 20px 1px;
}

/* For button imitation using link */
.btn > a {
  color: white; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.btn-transparent {
    background: transparent;
    background-color: transparent;
}

.blobs-select-dialog .modal-dialog {
    width :90%;
    min-width: 400px;
}

.wide-dialog .modal-dialog {
    width :90%;
    min-width: 400px;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.error {
    color: #A00000;
}

/* Stuff for panels to show blobs
 * Source: http://bootsnipp.com/snippets/featured/full-clickable-panel-heading
 */

.clickable {
    cursor: pointer;
}

.clickable .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span {
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable {
    color: inherit;
}
a.clickable:hover {
    text-decoration:none;
}

a.label.item-label {
    margin-left: 15px;
}