html, body {
  height: 100%;
}

#container {
    min-height: 100%;
    padding-bottom: 50px;
}

#footer {
  position: relative;
  float: right;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding: 20px;
  padding-right: 50px;
}

/* styling for added steps list*/

#added-steps-list .step:hover  {
  background-color: #f5f5f5;
}

/* Support for button in table */
.btn.btn-table {
  padding: 1px 20px 1px;
}

/* For button imitation using link */
.btn > a {
  color: white; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.btn-transparent {
    background: transparent;
    background-color: transparent;
}

.blobs-select-dialog .modal-dialog {
    width :90%;
    min-width: 400px;
}