<button class="btn btn-sm btn-transparent" ng-hide="item.doShowDetails" ng-click="showDetails($index)"><i
        class="fa fa fa-eye fa-lg"></i></button>
<button class="btn btn-sm btn-transparent" ng-show="item.doShowDetails" ng-click="hideDetails($index)"><i
        class="fa fa-eye-slash fa-lg"></i></button>
<span ng-show="showEditControllers($index)">
  <button class="btn btn-sm btn-transparent" ng-click="edit($index)"><i
          class="fa fa-pencil-square-o fa-lg"></i></button>
  <button class="btn btn-sm btn-transparent" ng-click="delete($index)"><i
          class="fa fa-times fa-lg"></i></button>
</span>