<div class="form-group push-right">
  <button class="btn btn-info col-sm-2 " ng-click="addBlob()"><i class="fa fa-plus-square-o fa-lg"></i> Add blob
  </button>

  <div ng-model="currentStep.blobs"
       id="added-steps-list"
       ng-show="currentStep.blobs.length"
       class="list-group col-sm-offset-4 col-sm-4">
    <a class="list-group-item active">Predefined blobs added</a>

    <div drag-and-drop-list="currentStep.blobs">
      <div ng-repeat="blob in currentStep.blobs" class="list-group-item step">
        <span>{{$index+1}}. {{ blob.title}}</span>

        <div class="pull-right">
          <i ng-click="showBlobDetails($index)" class="fa fa-list-alt fa-lg"></i>
          <i ng-click="removeBlob($index)" class="fa fa-times fa-lg"></i>
        </div>
      </div>
    </div>
  </div>

</div>
<div ng-include="'static/partials/reusable/parameters-form.html'"></div>