<div class="form-group push-right">
  <button class="btn btn-info col-sm-2 col-sm-offset-1" ng-click="addBlob()"><i class="fa fa-plus-square-o fa-lg"></i>
    Add blob
  </button>

  <div ng-model="currentItem.blobs"
       id="added-steps-list"
       ng-show="currentItem.blobs.length"
       class="list-group col-sm-offset-3 col-sm-4">
    <a class="list-group-item active">Predefined blobs added</a>

    <div drag-and-drop-list="currentItem.blobs">
      <div ng-repeat="blob in currentItem.blobs" class="list-group-item step">
        <span>{{$index+1}}. {{ blob.title}}</span>

        <div class="pull-right">
          <i ng-click="showBlobDetails($index)" class="fa fa-list-alt fa-lg"></i>
          <i ng-click="removeBlob($index)" class="fa fa-times fa-lg"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="stepName" class="col-sm-1 control-label">Name</label>

  <div class="col-sm-6">
    <input ng-model="currentItem.name" type="text" class="form-control" id="stepName"
           placeholder="Name">
  </div>
</div>
<div ng-include="'static/partials/reusable/parameters-form.html'"></div>