<div ng-repeat="param in currentItem.parameters">
  <div class="form-group">
    <label for="parameterFlag" class="col-sm-1 control-label">Flag</label>

    <div class="col-sm-4">
      <input ng-model="param.flag" type="text" class="form-control" id="parameterFlag" placeholder="Flag">
    </div>

    <label for="parameterValue" class="col-sm-1 control-label">Value</label>

    <div class="col-sm-4">
      <input ng-model="param.value" type="text" class="form-control" id="parameterValue" placeholder="Value">
    </div>
    <button ng-click="removeParametersRow($index)" type="button" class="btn btn-sm btn-danger" class="col-sm-1">-
    </button>

  </div>
</div>

<div id="step-add-remove-buttons" class="col-sm-2 ">
  <button ng-click="addParametersRow()" type="button" class="btn btn-success">+</button>
</div>