<div class="container">
  <!-- Form start -->
  <form class="form-horizontal" role="form" name="mainForm" novalidate>
    <div class="form-group" ng-class="{'has-error': isTitleError()}">
      <label for="stepTitle" class="col-sm-1 control-label">Title</label>

      <div class="col-sm-9">
        <input ng-model="currentItem.title" type="text" class="form-control" id="stepTitle"
               placeholder="Title" name="title" required title-validation>
        <span class="help-block" ng-show="isTitleEmpty()">
          Title field is required
        </span>
        <span class="help-block" ng-show="isTitleUnique()">
          Title field must be unique. Change title.
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group col-sm-8 col-sm-offset-4">
        <button ng-class="{'btn-primary': isActiveForm('default')}" class="btn"
                ng-click="currentItem.type = 'default'">Default step
        </button>
        <button ng-class="{'btn-primary': isActiveForm('first_mc')}" class="btn"
                ng-click="currentItem.type = 'first_mc'">Step 1 MC
        </button>
        <button ng-class="{'btn-primary': isActiveForm('first_data')}" class="btn"
                ng-click="currentItem.type = 'first_data'">Step 1 Data
        </button>
      </div>
    </div>

    <div ng-show="isActiveForm('default')">
      <div ng-include="'static/partials/reusable/mc-step-edit.html'"></div>
    </div>

    <div ng-show="isActiveForm('first_mc')">
      <div ng-include="'static/partials/reusable/mc-step-edit.html'"></div>
      <div class="clearfix"></div>
      <br>


      <div class="col-sm-10">
        <hr>
        <div class="form-group">
          <label for="mcDataSetInput">Input GEN-SIM dataset</label>
          <textarea ng-model="currentItem.dataSet" class="form-control" id="mcDataSetInput"
                    placeholder="Input GEN-SIM dataset"></textarea>
        </div>
      </div>
    </div>

    <div ng-show="isActiveForm('first_data')" class="col-sm-10">
      <div class="form-group">
        <label for="dataSetInput">Data Set</label>
        <textarea ng-model="currentItem.dataStep.data_set" class="form-control" id="dataSetInput"
                  placeholder="Data Set"></textarea>
      </div>
      <div class="form-group">
        <label for="labelInput">Label</label>
        <textarea ng-model="currentItem.dataStep.label" class="form-control" id="labelInput"
                  placeholder="Label"></textarea>
      </div>
      <div class="form-group">
        <label for="runInput">Run</label>
        <textarea ng-model="currentItem.dataStep.run" class="form-control" id="runInput"
                  placeholder="Run"></textarea>
      </div>

      <button class="btn btn-primary btn-sm" ng-click="showAdvancedDataStepParams = !showAdvancedDataStepParams">
        <span ng-hide="showAdvancedDataStepParams"><i class="fa fa-caret-square-o-down"></i> Show advanced</span>
        <span ng-show="showAdvancedDataStepParams"><i class="fa fa-caret-square-o-up"></i> Hide advanced</span>
      </button>

      <div ng-show="showAdvancedDataStepParams">
        <br>

        <div class="form-group">
          <label for="ib_blockInput">IB block</label>
          <input ng-model="currentItem.dataStep.ib_block" class="form-control" id="ib_blockInput"
                 placeholder="IB block"/>
        </div>
        <div class="form-group">
          <label for="ib_blacklistInput">IB black list</label>
          <input ng-model="currentItem.dataStep.ib_blacklist" class="form-control" id="ib_blacklistInput"
                 placeholder="IB black list"/>
        </div>
        <div class="form-group">
          <label for="locationInput">Location</label>
          <input ng-model="currentItem.dataStep.location" class="form-control" id="locationInput"
                 placeholder="Location"/>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label for="filesInput">Files</label>
            <input type="number" ng-model="currentItem.dataStep.files" class="form-control"
                   id="filesInput" name="files" placeholder="Files" proxy-validity/>

            <div class="error" ng-show="mainForm.files.$invalid">
              <small class="error">Files must me natural number</small>
            </div>
          </div>
          <div class="col-sm-offset-1 col-sm-3">
            <label for="eventsInput">Events</label>
            <input type="number" ng-model="currentItem.dataStep.events" class="form-control" id="eventsInput"
                   name="events" placeholder="Events" proxy-validity/>

            <div class="error" ng-show="mainForm.events.$invalid">
              <small class="error">Events must me natural number</small>
            </div>
          </div>
          <div class="col-sm-offset-1 col-sm-3">
            <label for="splitInput">Split</label>
            <input type="number" ng-model="currentItem.dataStep.split" class="form-control" id="splitInput"
                   name="split" placeholder="Split" proxy-validity/>

            <div class="error" ng-show="mainForm.split.$invalid">
              <small class="error">Split must me natural number</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="checkbox col-sm-4" data-toggle="tooltip" data-placement="top" data-delay="0"
         title="When you mark step as frozen you cannot edit it, only clone will be possible.">
      <label>
        <input type="checkbox" ng-model="currentItem.immutable"> Mark as frozen step
      </label>
    </div>

    <div id="step-buttons" class="col-sm-4 pull-right">
      <button ng-click="discard()" type="button" class="btn btn-danger">Discard</button>
      <button ng-click="submit()" type="button" class="btn btn-success">{{actionName}}</button>
    </div>

  </form>
</div>