<div class="container">
  <!-- Form start -->
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="stepTitle" class="col-sm-1 control-label">Title</label>

      <div class="col-sm-9">
        <input ng-model="currentStep.title" type="text" class="form-control" id="stepTitle" placeholder="Title">
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group col-sm-8 col-sm-offset-4">
        <button ng-class="{'btn-primary': isActiveForm('Monte Carlo')}" class="btn"
                ng-click="currentStep.type = 'Monte Carlo'">Monte Carlo
        </button>
        <button ng-class="{'btn-primary': isActiveForm('Step 1 MC')}" class="btn"
                ng-click="currentStep.type = 'Step 1 MC'">Step 1 MC
        </button>
        <button ng-class="{'btn-primary': isActiveForm('Data')}" class="btn" ng-click="currentStep.type = 'Data'">Data
        </button>
      </div>
    </div>

    <div ng-show="isActiveForm('Monte Carlo')">
      <div ng-include="'static/partials/reusable/mc-step-edit.html'"></div>
    </div>

    <div ng-show="isActiveForm('Step 1 MC')">
      <div ng-include="'static/partials/reusable/mc-step-edit.html'"></div>
      <div class="clearfix"></div>
      <br>

      <div class="col-sm-10">
        <div class="form-group">
          <label for="mcDataSetInput">Data Set</label>
          <textarea ng-model="currentStep.dataSet" class="form-control" id="mcDataSetInput"
                    placeholder="Data Set"></textarea>
        </div>
      </div>
    </div>

    <div ng-show="isActiveForm('Data')" class="col-sm-10">
      <div class="form-group">
        <label for="dataSetInput">Data Set</label>
        <textarea ng-model="currentStep.dataSet" class="form-control" id="dataSetInput"
                  placeholder="Data Set"></textarea>
      </div>
      <div class="form-group">
        <label for="runLumiInput">Run Lumi</label>
        <textarea ng-model="currentStep.runLumi" class="form-control" id="runLumiInput"
                  placeholder="Run Lumi"></textarea>
      </div>
    </div>

    <div class="checkbox col-sm-4" data-toggle="tooltip" data-placement="top" data-delay="0"
         title="When you mark step as frozen you cannot edit it, only clone will be possible.">
      <label>
        <input type="checkbox" ng-model="currentStep.immutable"> Mark as frozen step
      </label>
    </div>

    <div id="step-buttons" class="col-sm-4 pull-right">
      <button ng-click="discard()" type="button" class="btn btn-danger">Discard</button>
      <button ng-click="saveStep()" type="button" class="btn btn-success">{{actionName}}</button>
    </div>

  </form>
</div>