<div class="container">
  <!-- Form start -->
  <form class="form-horizontal" role="form" name="mainForm" novalidate>
    <div class="form-group" ng-class="{'has-error': isTitleError()}">
      <label for="requestLabel" class="col-sm-1 control-label">Label</label>

      <div class="col-sm-9">
        <input ng-model="currentItem.label" type="text" class="form-control" id="requestLabel"
               placeholder="Label" name="title" required request-label-validation>
        <span class="help-block" ng-show="isTitleEmpty()">
          Label field is required
        </span>
        <span class="help-block" ng-show="isTitleUnique()">
          Label field must be unique. Change label.
        </span>
      </div>

    </div>

    <div class="form-group">
      <label for="requestDescription" class="col-sm-1 control-label">Description</label>

      <div class="col-sm-9">
        <textarea ng-model="currentItem.description" type="text" class="form-control" id="requestDescription"
                  placeholder="Description">
        </textarea>
      </div>
    </div>

    <div class="form-group push-right">
      <button class="btn btn-info col-sm-2 " ng-click="addStep()"><i class="fa fa-plus-square-o fa-lg"></i> Add step
      </button>

      <div ng-model="currentItem.steps"
           id="added-steps-list"
           ng-show="currentItem.steps.length"
           class="list-group col-sm-offset-4 col-sm-4">
        <a class="list-group-item active">Steps added</a>

        <div drag-and-drop-list="currentItem.steps">
          <div ng-repeat="step in currentItem.steps" class="list-group-item step">
            <span>{{$index+1}}. {{ step.title}}</span>

            <div class="pull-right">
              <i ng-click="showStepDetails($index)" class="fa fa-list-alt fa-lg"></i>
              <i ng-click="removeStep($index)" class="fa fa-times fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="releaseNumber" class="col-sm-2 control-label">CMSSW Release</label>

      <div class="col-sm-8">
        <input ng-model="currentItem.cmssw_release" type="text" class="form-control" id="releaseNumber"
               placeholder="CMSSW Release">
      </div>
    </div>

    <div class="form-group">
      <label for="runTheMatrixConf" class="col-sm-2 control-label">runTheMatrix command</label>

      <div class="col-sm-8">
        <textarea ng-model="currentItem.run_the_matrix_conf" type="text" class="form-control" id="runTheMatrixConf"
                  placeholder="runTheMatrix command"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="typeInput" class="col-sm-2 control-label">Type</label>

      <div class="col-sm-3">
        <select id="typeInput" ng-model="currentItem.type" class="form-control">
          <option value="MC">Monte Carlo</option>
          <option value="Data">Data</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-2">
        <label for="eventsInput">Number of events</label>
        <input type="number" ng-model="currentItem.events" class="form-control" id="eventsInput"
               name="events" placeholder="Number of events" proxy-validity/>

        <div class="error" ng-show="mainForm.events.$invalid">
          <small class="error">Events must me natural number</small>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-3">
        <label for="priorityInput">Priority</label>
        <input type="number" ng-model="currentItem.priority" class="form-control" id="priorityInput"
               name="priority" placeholder="Priority" min="1" max="10" proxy-validity/>

        <div class="error" ng-show="mainForm.priority.$invalid">
          <small class="error">Priority must me natural number from 1 to 10</small>
        </div>
      </div>
    </div>


    <div class="checkbox col-sm-4 col-sm-offset-2" data-toggle="tooltip" data-placement="top" data-delay="0"
         title="When you mark step as frozen you cannot edit it, only clone will be possible.">
      <label>
        <input type="checkbox" ng-model="currentItem.immutable"> Mark as frozen step
      </label>
    </div>

    <div id="step-buttons" class="col-sm-4 pull-right">
      <button ng-click="discard()" type="button" class="btn btn-danger">Discard</button>
      <button ng-click="submit()" type="button" class="btn btn-success">{{actionName}}</button>
    </div>

  </form>
</div>