<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="pull-left">Requests</h4>

      <div class="col-sm-6 col-sm-offset-1">
        <form class="form" role="search" method="get" id="search-form" name="search-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search.searchText" name="query"/>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="searchAll()">
                <i class="fa fa-search fa-lg"></i> Search
              </button>
              <button class="btn btn-info" ng-click="resetSearch()">
                <i class="fa fa-refresh fa-lg"></i> Reset
              </button>
            </div>
          </div>
        </form>
      </div>

      <div type="button" class="btn btn-success pull-right ">
        <a href="#requests/new"><i class="fa fa-plus-square-o fa-lg"></i> Create new</a>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <th>#</th>
    <th ng-click="changeSorting('label')" ng-class="selectedCls('label')"> Label</th>
    <th ng-click="changeSorting('type')" ng-class="selectedCls('type')"> Type</th>
    <th ng-click="changeSorting('status')" ng-class="selectedCls('status')"> Status</th>
    <th>Frozen</th>
    <th>Actions</th>
    <th></th>
    </thead>
    <tbody ng-repeat="item in items | filter: {label: search.searchText} | orderBy:sort.column:sort.descending">
    <tr>
      <td>{{(currentPage-1) * itemsPerPage + $index+1}}</td>
      <td>{{item.label}}</td>
      <td>{{item.type}}</td>
      <td>{{item.status}}</td>
      <td>
        <div ng-show="item.immutable">
          <i class="fa fa-check fa-lg"></i>
        </div>
      </td>
      <td>
        <entity-actions></entity-actions>
      </td>
      <td>
        <button class="btn btn-sm btn-primary" ng-click="clone(item.index)">Clone</button>
      </td>
    </tr>
    <tr ng-show="item.doShowDetails">
      <td colspan="7">
        <div class="panel">
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">CMSSW Release: </label>

              <p class="col-sm-4 form-control-static">{{item.details.cmssw_release}}</p>
              <label class="col-sm-2 control-label">runTheMatrix command: </label>

              <p class="col-sm-4 form-control-static">{{item.details.run_the_matrix}}</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-1 control-label">Description: </label>

              <p class="col-sm-10 form-control-static">{{item.details.description}}</p>
            </div>
          </div>
          <!--<pre style="white-space: pre-wrap;" class="well">{{item.details.text}}</pre>-->
          <div class="well"><strong>Steps: </strong><br />
              <div ng-repeat="step in item.details.steps" style="padding-top: 5px" class="row">
                <span class="col-sm-9">{{step.text}}</span>
                <a href="#steps/view/{{step.id}}" class="label label-default step-label ">
                  {{step.title}}
                </a>
              </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-offset-3 col-sm-8">
  <pagination
          boundary-links="true"
          total-items="totalItems"
          page="currentPage"
          items-per-page="itemsPerPage"
          max-size="maxSize"
          rotate="false"
          on-select-page="setPage(page)"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;">
  </pagination>
</div>
</div>
