<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="pull-left">Batches</h4>

      <div class="col-sm-6 col-sm-offset-1">
        <form class="form" role="search" method="get" id="search-form" name="search-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search.searchText" name="query"/>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="searchAll()">
                <i class="fa fa-search fa-lg"></i> Search
              </button>
              <button class="btn btn-info" ng-click="resetSearch()">
                <i class="fa fa-refresh fa-lg"></i> Reset
              </button>
            </div>
          </div>
        </form>
      </div>

      <div type="button" class="btn btn-success pull-right ">
        <a href="#batches/new"><i class="fa fa-plus-square-o fa-lg"></i> Create new</a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <th>#</th>
    <th ng-click="changeSorting('title')" ng-class="selectedCls('title')"> Title</th>
    <th ng-click="changeSorting('requests')" ng-class="selectedCls('requests')"> Requests</th>
    <th>Frozen</th>
    <th>Actions</th>
    <th></th>
    </thead>
    <tbody ng-repeat="item in items | filter: {title: search.searchText} | orderBy:sort.column:sort.descending">
    <tr>
      <td>{{(currentPage-1) * itemsPerPage + $index+1}}</td>
      <td>{{item.title}}</td>
      <td>{{item.requests}}</td>
      <td>
        <div ng-show="item.immutable">
          <i class="fa fa-check fa-lg"></i>
        </div>
      </td>
      <td>
        <entity-actions></entity-actions>
      </td>
      <td>
        <button class="btn btn-sm btn-primary" ng-click="clone(item.index)">Clone</button>
      </td>
    </tr>
    <tr ng-show="item.doShowDetails">
      <td colspan="7">
        <div class="well">
          <div ng-repeat="request in item.details.requests" style="padding-top: 5px">
            <a href="#requests/clone/{{request.id}}" class="label label-default label-info">
              {{request.label}}
            </a>

            <div ng-repeat="step in request.steps" style="padding-top: 5px" class="row">
              <span class="col-sm-9">{{step.text}}</span>
              <a href="#steps/clone/{{step.id}}" class="label label-default step-label ">
                {{step.title}}
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-offset-3 col-sm-8">
  <pagination
          boundary-links="true"
          total-items="totalItems"
          page="currentPage"
          items-per-page="itemsPerPage"
          max-size="maxSize"
          rotate="false"
          on-select-page="setPage(page)"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;">
  </pagination>
</div>
</div>