<div class="container">
  <!-- Form start -->
  <form class="form-horizontal" role="form" name="mainForm">
    <div class="form-group" ng-class="{'has-error': isTitleError()}">
      <label for="blobTitle" class="col-sm-1 control-label">Title</label>

      <div class="col-sm-9">
        <input ng-model="currentItem.title" type="text" class="form-control" id="blobTitle"
               placeholder="Title" name="title" required blob-title-validation>
        <span class="help-block" ng-show="isTitleEmpty()">
          Title field is required
        </span>
        <span class="help-block" ng-show="isTitleUnique()">
          Title field must be unique. Change title.
        </span>
      </div>

    </div>

    <div ng-include="'static/partials/reusable/parameters-form.html'"></div>

    <div class="checkbox col-sm-4" data-toggle="tooltip" data-placement="top" data-delay="0"
         title="When you mark predefined blob as frozen you cannot edit it, only clone will be possible.">
      <label>
        <input type="checkbox" ng-model="currentItem.immutable"> Mark as frozen blob
      </label>
    </div>

    <div id="step-buttons" class="col-sm-4 pull-right">
      <button ng-click="discardStepCreation()" type="button" class="btn btn-danger">Discard</button>
      <button ng-click="saveStep()" type="button" class="btn btn-success">{{actionName}}</button>
    </div>
  </form>
  <!-- Form end -->

</div>
