<div class="container">
  <!-- Form start -->
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="stepTitle" class="col-sm-1 control-label">Title</label>

      <div class="col-sm-9">
        <input ng-model="currentItem.title" type="text" class="form-control" id="stepTitle" placeholder="Title">
      </div>
    </div>

    <div ng-include="'static/partials/reusable/parameters-form.html'"></div>

    <div class="checkbox col-sm-4" data-toggle="tooltip" data-placement="top" data-delay="0"
         title="When you mark predefined blob as frozen you cannot edit it, only clone will be possible.">
      <label>
        <input type="checkbox" ng-model="currentItem.immutable"> Mark as frozen blob
      </label>
    </div>

    <div id="step-buttons" class="col-sm-4 pull-right">
      <button ng-click="discardStepCreation()" type="button" class="btn btn-danger">Discard</button>
      <button ng-click="saveStep()" type="button" class="btn btn-success">{{actionName}}</button>
    </div>
  </form>
  <!-- Form end -->

</div>
